body {
	background-color: #000;
}

.loader-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.loader {
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin: 47px auto;
	position: relative;
	box-sizing: border-box;
	text-align: center;
	z-index: 0;
	text-transform: uppercase;
		-o-text-transform: uppercase;
		-ms-text-transform: uppercase;
		-webkit-text-transform: uppercase;
		-moz-text-transform: uppercase;
}

.loader:before,
.loader:after {
	opacity: 0;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	content: "\0020";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 95px;
	border: 5px solid rgb(125,17,249);
	box-shadow: 0 0 47px rgb(201,156,255), inset 0 0 47px rgb(201,156,255);
		-o-box-shadow: 0 0 47px rgb(201,156,255), inset 0 0 47px rgb(201,156,255);
		-ms-box-shadow: 0 0 47px rgb(201,156,255), inset 0 0 47px rgb(201,156,255);
		-webkit-box-shadow: 0 0 47px rgb(201,156,255), inset 0 0 47px rgb(201,156,255);
		-moz-box-shadow: 0 0 47px rgb(201,156,255), inset 0 0 47px rgb(201,156,255);
}

.loader:after {
	z-index: 1;
	animation: goloader 2s infinite 1s;
		-o-animation: goloader 2s infinite 1s;
		-ms-animation: goloader 2s infinite 1s;
		-webkit-animation: goloader 2s infinite 1s;
		-moz-animation: goloader 2s infinite 1s;
}

.loader:before {
	z-index: 2;
	animation: goloader 2s infinite;
		-o-animation: goloader 2s infinite;
		-ms-animation: goloader 2s infinite;
		-webkit-animation: goloader 2s infinite;
		-moz-animation: goloader 2s infinite;
}



@keyframes goloader {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

@-o-keyframes goloader {
	0% {
		-o-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-o-transform: scale(1);
		opacity: 0;
	}
}

@-ms-keyframes goloader {
	0% {
		-ms-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-ms-transform: scale(1);
		opacity: 0;
	}
}

@-webkit-keyframes goloader {
	0% {
		-webkit-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 0;
	}
}

@-moz-keyframes goloader {
	0% {
		-moz-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-moz-transform: scale(1);
		opacity: 0;
	}
}