@use '@/styles/variables' as *;

.form-container {
  position: relative;
  width: 100%;
  padding: 50px;
  background: url("@/assets/backgrounds/bg-8.png") no-repeat center center;
  background-size: 100% 100%;
}

.form__field {
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: column;
}

.form__field-input {
  position: relative;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: 300;
  color: #000;
  letter-spacing: 0.1rem;
  border: none;
  background: url("@/assets/frames/frame-1.png") no-repeat center center;
  background-size: 100% 100%;
  outline: none;
  z-index: 20;
  transition: border-color 0.2s ease-in-out;
}

.form__field-input:focus {
  color: #fff;
}

.form__field::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  background: url("@/assets/decors/decor-4.png") no-repeat center center;
  background-size: 100% 100%;
  opacity: 0;
  color: #fff;
  transition: all .4s ease-in-out;
}

.form__field:has(.form__field-input:focus)::after {
  opacity: 1;
  width: 88%;
}

.form__field:first-of-type:has(.form__field-input:focus)::after {
  opacity: 1;
  width: 100%;
}

.form__field:has(.form__field-input:focus)::before {
  opacity: 1;
  transform: translateY(-32px);
}

.form__field:has(.form__field-input:not(:placeholder-shown))::before {
  opacity: 1;
  transform: translateY(-32px);
}

.form__field-input:focus::placeholder {
  opacity: 0;
}

.form_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}


.form_btn-forgot:hover {
  color: #bbb;
}

.form__title {
    margin-left: -100px;
    margin-top: -50px;
    margin-bottom: 20px;
    transform: rotateZ(340deg);
    width: 300px;
    height: 100px;
}

.form__title-login {
  background: url(/src/assets/title-login.png) no-repeat left center;
  background-size: 100% 100%;
}

.form__title-register {
  background: url(/src/assets/title-register.png) no-repeat left center;
  background-size: 100% 100%;
}

.form__title-profile {
  background: url(/src/assets/title-profile.png) no-repeat left center;
  background-size: 100% 100%;
}

.form__field__btn-pass {
  position: absolute;
  right: 2%;
  top: 0;
  bottom: 0;
  z-index: 30;
  align-self: center;
  opacity: 0;
  background: none;
  border: none;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.form__field-input:not(:placeholder-shown) + .form__field__btn-pass {
  opacity: 1;
  visibility: visible;
}

.form__field-icon {
  display: flex;
  margin: auto;
  max-width: 30px;
  max-height: 30px;
  width: 100%;
  height: 100%;
  color: #000;
}

.icon-open {
  padding-top: 1px;
}