.password {
  position: relative;

  &--hidden,
  &--show {
    width: 100%;
    height: 100%;
  }

  &--show {
    color: #999;
  }

  &--hidden {
    position: absolute;
    color: transparent;
    transition: color 0.4s ease-in-out;
  }
}

.hidden {
    color: red;
}
