@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.price {
  @include bg($url: $price-bg, $size: cover);

  &-container {
    margin: 0 auto;
  }

  &-title {
    margin: $section-title-margin;
    @include section-title($section-title-color-1);
  }

  &__content-text {
    @include section-descr($section-descr-color-1);
    margin: $section-descr-margin;
    width: 60%;
  }

  &-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}
