@use '@/styles/variables' as *;

.header {
    position: relative;
    margin-bottom: 50px;
    background-color: #000;
    font-family: "";
}

.header__logo-plan {
    position: relative;
    display: flex;
}

.header__plan {
    position: relative;
    right: 10%;
}

.header__info {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.header__info__fullname {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    height: fit-content;
    background: url("@/assets/frames/frame-5.png") no-repeat center center;
    background-size: 100% 100%;
    z-index: 2;
}

.info__user {
    width: max-content;
    font-family: $ff-2;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header-actions {
    display: flex;
    justify-content: space-between;
    max-width: 620px;
    width: 100%;
}