@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.work {
    @include bg($url: $work-bg, $size: cover);
    position: relative;
}

.work-container {
    margin: 0 auto;
}

.work-title {
    @include section-title($section-title-color-2);
    margin: $section-title-margin;
}


.work-descr {
    @include section-descr($section-descr-color-1);
    margin: $section-descr-margin;
    width: 60%;
}