$ff-default: "BigShoulders", sans-serif;
$ff-addl-one: "BigShouldersStencil", sans-serif;
$main-bg: #000;

$col-default: #fff;
$col-base: #ca02ff;

$col-close: #D5405D;
$col-fail: #6f0000;

$col-error: #D5405D;
$col-success: #008000;

$auth-prompt-min-height: 320px;
$auth-form-min-height: 360px;

$indent-pt: 50px;
$indent-pb: 50px;

// btn-icon and wrap & icon
$btn-wrap-color-one: #fff;
$btn-icon-color-one: #000;

$btn-wrap-color-two: #000;
$btn-icon-color-two: #fff;