$ff-default: "BigShoulders", sans-serif;
$fs-default: 16px;
$bg-default: #000;

$ff-1: "BigShoulders", sans-serif;
$ff-2: "BigShouldersStencil", sans-serif;

$col-default: #fff;
$col-base: #ca02ff;

$col-close: #D5405D;
$col-fail: #6f0000;

$col-error: #D5405D;
$col-success: #008000;

$auth-prompt-min-height: 320px;
$auth-form-min-height: 360px;

$indent-pt: 50px;
$indent-pb: 50px;

// btn-icon and wrap & icon
$btn-wrap-color-one: #fff;
$btn-icon-color-one: #000;

$btn-wrap-color-two: #000;
$btn-icon-color-two: #fff;

// section title & descr & text
$section-title-margin: 0 0 20px 0;
$section-title-color-1: #fff;
$section-title-color-2: #000;

$section-descr-margin: 0 0 20px 0;
$section-descr-color-1: #999;

// card title & descr & text
$card-title-color-1: #fff;
$card-title-color-2: #000;

$card-descr-color-1: #fff;
$card-descr-color-2: #000;

$price-text-color: #000;

$review-comment-color: #fff;


// backgrounds
$about-bg: "@/assets/backgrounds/bg-2.png";
$price-bg: "@/assets/backgrounds/bg-5.png";
$review-bg: "@/assets/backgrounds/bg-3.png";
$work-bg: "@/assets/backgrounds/bg-3.png";