@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.review {
    @include bg($url: $review-bg, $size: cover);
    position: relative;
}

.review-container {
    margin: 0 auto;
}

.review-title {
    @include section-title($section-title-color-2);
    margin: $section-title-margin;
}

.review__content-text {
    @include section-descr($section-descr-color-1);
    margin: $section-descr-margin;
    width: 60%;
}