@use '@/styles/variables' as *;

.review {
    position: relative;
    background: url("@/assets/backgrounds/bg-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.review-container {
    margin: 0 auto;
}

.review-title {
    margin: 0 0 20px 0;
    font-family: 'BigShouldersStencil', sans-serif;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1.2;
    color: #000;
}

.review-text {
    margin: 0 0 20px 0;
    width: 75%;
    font-weight: 500;
    color: #9b989b;
}